.sale-container{
    width: 50%;
    margin: 0 auto;
}

.sale-toggle-container{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 30px;
}

.sale-toggle-container div{
    text-align: center;
    padding: 15px;
    width: 50%;
    border-radius: 100px;
}

.sale-toggle-container h5{
    margin: 0px;
}

.sale-bid-checked{
    background-color: #72b8df4c;
    transition: 0.5s;
}

.sale-immediate-checked{
    background-color: #72b8df4c;
    transition: 0.5s;
}

.sale-secondhand-checked{
    background-color: #72b8df4c;
    transition: 0.5s;
}

#sale-component{
    margin-bottom: 30px;
}

#sale-title{
    margin: 0px;
    margin-bottom: 5px;
}