.purchase-immediate-price h3{
    margin: 0px;
    text-align: right;
    border-bottom: 1px solid #979797;
}

#purchase-immediate-submit{
    width: 100%;
    border: none;
    background-color: #ffc9394c;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.sale-immediate-price{
    margin-bottom: 30px;
}

.sale-immediate-price h3{
    margin: 0px;
    text-align: right;
    border-bottom: 1px solid #979797;
}

#sale-immediate-submit{
    width: 100%;
    border: none;
    background-color: #72b8df4c;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}