.header{
    width: 100%; height: 85px;
    background-color: #ffffff;
    margin-bottom: 50px;
    position: sticky;
}

li,ul{
    list-style: none;
}

.header-top .top-item{
    margin-left: 10px;
    font-size: 12px;
}

.header-top .top-item a{
    color: #979797;
    text-decoration: none;
}

.header-top .top-list{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.header-top .top-inner{
    display: flex;
    height: 30px;
    padding: 0px 150px;
}

#chatting-icon{
    height: 25px;
}

#search-icon{
    height: 25px;
    margin-left: 10px;
}

.header-main{
    padding: 0px 150px;
    display: flex;
    justify-content: space-between;
}