.immediate-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.immediate-price div{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    width: 50%;
}

.immediate-price .purchase{
    margin-right: 15px;
}

.immediate-price .sale{
    margin-left: 15px;
}

.immediate-price h3{
    margin: 0px;
}

.immediate-price h5{
    margin: 0px;
    font-weight: normal;
}