.product-information{
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    margin-bottom: 30px;
}

.product-information .image{
    display: inline-block;
    margin-right: 15px;
}

.product-information .image img{
    width: 110px; height: 110px;
    background-color: #dd7e6029;
    border-radius: 15px;
}

.product-information .text{
    display: inline-block;
    flex: 1;
}

.product-information .text h3{
    margin: 0px 0px 5px 0px;
}

.product-information .text h5{
    margin: 0px 0px 5px 0px;
    font-weight: normal;
}