.purchase-bid-price{
    height: 45px;
    border-bottom: 1px solid #979797;
    margin-bottom: 30px;
}

.purchase-bid-price h5{
    margin: 0px;
}

.purchase-bid-price-input{
    float: right;
}

.purchase-bid-price-input input{
    border: 0;
    outline: none;
    font-size: 1.17em;
    text-align: right;
    font-weight: bold;
    background-color: transparent;
}

.purchase-bid-price-input h3{
    margin: 0px;
    display: inline-block;
}

.purchase-bid-period{
    margin-bottom: 30px;
}

.purchase-bid-period h5{
    margin: 0px;
    margin-bottom: 5px;
}

.purchase-bid-period-detail p{
    margin: 0px;
    font-size: 0.83em;
    color: #979797;
}

#purchase-bid-submit{
    width: 100%;
    border: none;
    background-color: #ffc9394c;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.purchase-immediate-price{
    margin-bottom: 30px;
}

.purchase-immediate-price h5{
    margin: 0px;
}

.purchase-immediate-price h3{
    margin: 0px;
    text-align: right;
    border-bottom: 1px solid #979797;
}

#purchase-immediate-submit{
    width: 100%;
    border: none;
    background-color: #ffc9394c;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}